/**** Colores Negocio ****/
$primary-green:   #05110d;  // -> (5,17,13)
$secondary-green: #1e3b1f;  // -> (30,59,31)
$light-green:     #6f8266;  // -> (111,130,102)
$opaque-gray:     #b3ab86;  // -> (179,171,134)
$light-gray:      #e9e2d2;  // -> (233,226,210)

/**** Colores Elementales ****/
$white: #ffffff;
$black: #000000;
$gray: #808080;